$primary-color: rgba(1, 1, 3, 1);
$secondary-color: rgba(38, 43, 35, 0.3);
$tertiary-color:#d9ff40;
$primary-text-color: rgba(255, 255, 255, 1);
$secondary-text-color: rgba(235, 235, 245, 0.6);
$tertiary-text-color:rgba(38, 43, 35, 1);
$fourth-text-color: #d9ff40;
$fifth-text-color:rgba(135, 140, 157, 1);
$tag-primary-color: rgba(38, 38, 41, 1);
$tag-secondary-color: #d9ff40;
$button-secondary-color: #d9ff43;
$button-primary-color: rgba(1, 1, 3, 1);
$border-color: rgba(255, 255, 255, 0.25);
$card-color: rgba(38, 38, 41, 0.6);
$chat-card-primary-color: #d9ff43;
$chat-card-secondary-color: rgba(38, 38, 41, 1);
$header-primary-color: rgba(38, 43, 35, 1);
$font_family: Poppins;
$chat_container_bg: linear-gradient(to left, rgba(38, 43, 35, 0.3), rgba(0,0,0,0.8));