@import "_variables.scss";

.profile-container {
    display: flex;
    height: 95vh;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    backdrop-filter: blur(14.20138168334961px);
    background: $chat_container_bg;
    width: 77%; 
    // Above Width is temporary, change later
    padding: 40px 40px 20px 30px;
}

.profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2.324px solid #D9FF40;
    margin-bottom: 20px;
}


.label-text {
    color: #D9D9D9;
    font-family: $font_family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.154px;
}

.input-text {
    background-color: transparent;
    color: #D9D9D9;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 0.642px solid #5B5B5B;
    color: #FFF;
    font-family: $font_family;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.206px;
    margin-bottom: 20px;
}

.save-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $button-secondary-color;
    color: $tertiary-text-color;
    text-align: center;
    font-family: $font_family;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top:auto;
    border-radius: 12px;
    padding:10px;
    cursor: pointer;
    margin-bottom: 20px;
}